<div class="row footerRow">
  <div class="col-xs-12">
    <hr [ngStyle]="{'margin': '2rem 4px 4px 4px'}" />
  </div>
  <div class="row footer-main">
    <div class="col">
      <h3>About Us</h3>
      <ul class="footerColItems">
        <li href="#">Aim</li>
        <li href="#">Vision</li>
        <li href="#">Testimonials</li>
      </ul>
    </div>
    <div class="col">
      <h3>Services</h3>
      <ul class="footerColItems">
        <li href="#">Aim</li>
        <li href="#">Vision</li>
        <li href="#">Testimonials</li>
      </ul>
    </div>
    <div class="col">
      <h3>Contact Us</h3>
      <ul class="footerColItems">
        <li href="#">Aim</li>
        <li href="#">Vision</li>
        <li href="#">Testimonials</li>
      </ul>
    </div>
  </div>
  
</div>