<div class="row footerRow">
    <div class="col-3 ps-md-5 footerCols">
      <h3>About Us</h3>
      <ul class="footerColItems">
        <li href="#">Aim</li>
        <li href="#">Vision</li>
        <li href="#">Testimonials</li>
      </ul>
    </div>
    <div class="col-3 ps-md-5 footerCols">
      <h3>Services</h3>
      <ul class="footerColItems">
        <li href="#">Aim</li>
        <li href="#">Vision</li>
        <li href="#">Testimonials</li>
      </ul>
    </div>
    <div class="col-3 ps-md-5 footerCols">
      <h3>Contact Us</h3>
      <ul class="footerColItems">
        <li href="#">Aim</li>
        <li href="#">Vision</li>
        <li href="#">Testimonials</li>
      </ul>
    </div>
