.activeLink{
    background-color: #34a57e94;
    outline: none;
    border-radius: 4px;
    transition: all 0.5s;

}
.activeLink:hover {
    background-color: #34a57e94;
    opacity: 0.9;
    font-weight: 500;
    transition: 0s
}
