<div class="row">
  <div class="col">
    <div class="modal-header py-2">
			<h4 class="modal-title Information" id="modal-title">Confirm Action</h4>
			<button
				type="button"
				class="btn-close"
				aria-describedby="modal-title"
				(click)="activeModal.dismiss('Cross click')"
			></button>
		</div>
		<div class="modal-body">
			<p>
				<strong>{{message}}</strong>
			</p>
		</div>
		<div class="modal-footer py-2">
			<button type="button" class="btn btn-outline-danger" (click)="onDecline()">Cancel</button>
			<button type="button" class="btn btn-outline-primary" (click)="onConfirm()">Ok</button>
		</div>
  </div>
</div>
